# git config filter.konsole-ignore.clean "grep -Ev '^FileDialogSize|Recent |eDP|State=|RestorePositionForNextInstance|:'"
# git config filter.konsole-ignore.smudge cat
konsolerc filter=konsole-ignore
